header{
    font-family: 'Mochiy Pop P One', sans-serif;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 1.5% 0;
    background-color: rgba(67, 124, 190, 1.000);
    /* border: 4px solid rgba(42, 55, 132, 1.000); */
    h1, h2, a{
        margin: auto;
        font-size: 1.45rem;
    }
    a{
        font-size: 1.45rem;
        text-decoration: none;
        color: rgba(0, 0, 0, 1);
    }
}