.Home{
    background: rgba(0, 0, 0, 1);
    background-size: cover;
    text-align: center;
    .title{
        font-family: 'Neonderthaw', cursive;
    }
    .App-logo {
        height: 40vmin;
        pointer-events: none;
    }
    .App-header {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
    }
    .App-link {
        background-color: rgba(177, 20, 18, 1.0);
        color: rgba(255, 255, 255, 1);
        border: 3px solid rgba(42, 55, 132, 1.0);
        padding: 0.5% 1%;
        border-radius: 1%;
        text-decoration: none;
    }
}