.questionnaireTop, .questionnaireContent, .questionnaireButtons, .questionnaireBottom{
    text-align: center;
}
.questionnaireButtons{
    margin: 0;
    padding: 4% 0 2% 0;
}
.questionnaireBottom{
    margin: 0;
    padding: 1%;
}